html, body {
  color: #4d5156;
  padding: 5px;
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  word-wrap: break-word;
}
html a {
  color: #5f6368;
  font-weight: bold;
  text-decoration: none;
}
iframe {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 100%;
}
input:focus {
  outline: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding: 10px 5px 10px 5px;
}
#chars {
  color: #8899a6;
  font-size: 0.8em;
  font-weight: bold;
  float: right;
}
#controls {
  padding: 5px;
}
#desc {
  margin: 0 auto;
  display: none;
  width: 80%;
}
#goto {
  display: inline-block;
}
#gstream {
  font-size: 1.0em;
  margin-left: 2px;
  width: 50px;
  text-align: left;
  border: none;
}
#head {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
}
#head a {
  color: #333;
  text-decoration: none;
}
#nav {
  float: right;
}
#present {
  margin-left: 10px;
  font-size: 0.8em;
}
#main {
  margin: 0 auto;
  max-width: 1024px;
}
#messages {
  margin: 0;
  padding: 0;
}
#prompt-line {
  padding: 5px 0;
}
#prompt-line form {
  display: flex;
  align-items: center;
}
#prompt-line #current {
  color: rgba(0,0,0,.5);
  padding-right: 5px;
  white-space: nowrap;
}
#prompt-line input {
  flex: 1;
  font-size: 14px;
  color: rgba(0,0,0,.87);
  border: none;
  padding: 5px;
}
#messages a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
#messages li {
  padding: 10px 0;
}
#private {
  vertical-align: middle;
  margin-bottom: 4px;
}
#side span {
 margin: 10px; 
}
.animation img, .image img {
  width: 100%;
  height: auto;
  margin-top: 5px;
}
.iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  margin-bottom: 25px;
  margin-top: 5px;
}
.image {
  position: relative;
  height: 300px;
  overflow: hidden;
  margin: 10px 0;
}
.image img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.time {
  margin: 2px 0 0 5px;
  float: right;
  font-size: 0.8em;
  color: #ccc;
}
.title, .desc {
  font-size: 0.9em;
}
