html, body {
  color: #333;
  padding: 10px;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
input {
        width: 100%;
        font-size: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; 
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding: 10px;
  word-wrap: break-word;
}

#current {
  float: right;
}
#head {
  text-align: left;
  margin-bottom: 30px;
}
#head a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
#main {
  margin: 0 auto;
  text-align: center;
  max-width: 650px;
}
