name: Run tests
on: [push]

jobs:
  test:
    name: Test repo
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Run Go tests
        run: go test -v ./...

      - name: Run tests.sh
        run: bash ./tests.sh
